{%load static%}
<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cs" lang="cs">
<head>
<title>BLOG</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" media="screen,projection" type="text/css" href="{%static 'css/main.css'%}" />
<link rel="stylesheet" media="print" type="text/css" href="{%static 'css/print.css'%}" />
<link rel="stylesheet" media="aural" type="text/css" href="{%static 'css/aural.css'%}" />
</head>
<body id="www-url-cz">
<div id="main" class="box">
  <div id="header">
    <h1 id="logo"><a href="#">Blog<strong>X</strong><span></span></a></h1>
    <hr class="noscreen" />
    <div class="noscreen noprint">
      <p><em>Quick links: <a href="#content">content</a>, <a href="#tabs">navigation</a>, <a href="#search">search</a>.</em></p>
      <hr />
    </div>
    <div id="search" class="noprint">
      <form action="#" method="get">
        <fieldset>
        <legend>Search</legend>
        <label><span class="noscreen">Find:</span> <span id="search-input-out">
        <input type="text" name="" id="search-input" size="30" />
        </span></label>
        <input type="image" src="{%static 'design/search_submit.gif'%}" id="search-submit" value="OK" />
        </fieldset>
      </form>
    </div>
  </div>
  <div id="tabs" class="noprint">
    <h3 class="noscreen">Navigation</h3>
    <ul class="box">
      <li id="active"><a href="#">Home<span class="tab-l"></span><span class="tab-r"></span></a></li>
      <li ><a href="#">Weblog<span class="tab-l"></span><span class="tab-r"></span></a></li>
      <li><a href="#">About Me<span class="tab-l"></span><span class="tab-r"></span></a></li>
      <li><a href="#">Photos<span class="tab-l"></span><span class="tab-r"></span></a></li>
      <li><a href="#">Portfolio<span class="tab-l"></span><span class="tab-r"></span></a></li>
      <li><a href="#">Contact<span class="tab-l"></span><span class="tab-r"></span></a></li>
      <li><a href="#">Links<span class="tab-l"></span><span class="tab-r"></span></a></li>
    </ul>
    <hr class="noscreen" />
  </div>
  <div id="page" class="box">
    <div id="page-in" class="box">
      <div id="strip" class="box noprint">
        <p id="rss"><strong>RSS:</strong> <a href="#">articles</a> / <a href="#">comments</a></p>
        <hr class="noscreen" />
        {%if page%}
        <p id="breadcrumbs">You are here: <a href="{%url 'blog:index'%}">Home</a> &gt; <a href="#">{{category}}</a></p>
        {%elif post%}
        <p id="breadcrumbs">You are here: <a href="{%url 'blog:index'%}">Home</a> &gt; <a href="{%url 'blog:categorydetails' post.category.get_absolute_url%}">{{post.category}}</a>&gt; <a href="#">{{post.headline}}</a></p>
        {%else%}
        <p id="breadcrumbs">You are here: <a href="{%url 'blog:index'%}">Home</a></p>

        {%endif%}
        <hr class="noscreen" />
      </div>
      {%block content%}
      <div id="content">
        {%if page%}
          {%for post in category.posts.all%}
          <div class="article">
            <h2><span><a href="{%url 'blog:postdetails' post.slug%}">{{post.headline}}</a></span></h2>
            <p class="info noprint"> <span class="date">{{post.created}}</span>
              <span class="noscreen">,</span> 
              <span class="cat"><a href="{{post.category.get_absolute_url}}">{{post.category}}</a></span><span class="noscreen">,</span> <span class="user"><a href="#">{{post.username}}</a></span><span class="noscreen">,</span> <span class="comments"><a href="#">Comments</a></span> </p>
            <p>{{post.content|safe|truncatechars:500}}</p>
            <p class="btn-more box noprint"><strong><a href="{%url 'blog:postdetails' post.slug%}">Continue</a></strong></p>
          </div>
          <hr class="noscreen" />
          {%endfor%}
        {%else%}
          {%for post in posts%}
          <div class="article">
            <h2><span><a href="{%url 'blog:postdetails' post.slug%}">{{post.headline}}</a></span></h2>
            <p class="info noprint"> <span class="date">{{post.created}}</span><span class="noscreen">,</span> <span class="cat"><a href="{{post.category.get_absolute_url}}">{{post.category}}</a></span><span class="noscreen">,</span> <span class="user"><a href="#">{{post.username}}</a></span><span class="noscreen">,</span> <span class="comments"><a href="#">Comments</a></span> </p>
            <p>{{post.content|safe|truncatechars:500}}</p>
            <p class="btn-more box noprint"><strong><a href="{%url 'blog:postdetails' post.slug%}">Continue</a></strong></p>
          </div>
          {%endfor%}
        {%endif%}
        
        
      </div>
      {%endblock%}
      <div id="col" class="noprint">
        <div id="col-in">
          <h3><span><a href="#">About Me</a></span></h3>
          <div id="about-me">
            <p><img src="{%static 'design/tmp_photo.gif'%}" id="me" alt="Yeah, it´s me!" /> <strong>John Doe</strong><br />
              Age: 26<br />
              Dallas, TX<br />
              <a href="#">Profile on MySpace</a></p>
          </div>
          <hr class="noscreen" />
          <h3><span>Sponsored Post</span></h3>
          <ul id="category">
            {%for post in posts%}
            <li><a href="{%url 'blog:postdetails' post.slug%}">{{post.name}}</a></li>
            {%endfor%}
          </ul>
          <hr class="noscreen" />
          <h3><span>Category</span></h3>
          <ul id="category">
            {%for category in categories%}
            <li><a href="{{category.get_absolute_url}}">{{category.name}}</a></li>
            {%endfor%}
          </ul>
          <hr class="noscreen" />
          <h3><span>Recent Post</span></h3>
          <ul id="archive">
            {%for post in posts%}
            <li><a href="{%url 'blog:postdetails' post.slug%}">{{post.headline}}</a></li>
            {%endfor%}
          </ul>
          <hr class="noscreen" />
          <h3><span>Post with highest views</span></h3>
          <ul id="links">
            <li><a href="#">Coming Soon</a></li>
          </ul>
          <hr class="noscreen" />
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <div id="top" class="noprint">
      <p><span class="noscreen">Back on top</span> <a href="#header" title="Back on top ^">^<span></span></a></p>
    </div>
    <hr class="noscreen" />
    <p id="copyright">&copy; 2022 <a href="#">Home</a> |Blog Website by <a href="#">Subham Sharma</a></p>
  </div>
</div>
</body>
</html>
